<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dp.uheadmaster">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".models.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activites.SplashAct"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".activites.MoodAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.SignUpAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.LoginAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.ForgetPasswordAct"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="gYfcyWDt04iRU0zVP0Wt6NgnV" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".activites.MainAct"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activites.CourseDetailAct"
            android:screenOrientation="portrait"
            android:noHistory="true"/>
        <activity
            android:name=".activites.ChartAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.HorizontalBarChartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.ChangePasswordAct"
            android:screenOrientation="portrait" />
        <activity android:name=".activites.SubCategoriesAct"
            android:screenOrientation="portrait"/>
        <activity android:name=".activites.CoursesListAct"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activites.WriteReviewAct"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activites.CourseLearn"
            android:screenOrientation="portrait"/>
        <activity android:name=".activites.ResponsesAct"
            android:screenOrientation="portrait"/>
        <activity android:name=".activites.CreateCourseAct"
            android:screenOrientation="portrait"
            >

        </activity>
        <activity android:name=".activites.AnnouncementDetails"
            android:screenOrientation="portrait"
           />
        <activity android:name=".activites.CourseNotificationActivity"
            android:screenOrientation="portrait"
            />





        <activity
            android:name=".jwplayer.JWPlayerViewExample"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".jwplayer.JWPlayerFragmentExample"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
        </activity>
        <activity android:name=".activites.MoreCoursesInstructorAct"/>
        <activity android:name=".activites.InstructorCourseContent"/>
        <activity android:name=".activites.StudentEngagment"/>
        <activity android:name=".activites.QuestionAnswerInstructor"/>
        <activity android:name=".activites.InstructorReviewAct"/>
        <activity android:name=".activites.AnnounceMentAct"/>
        <activity android:name=".activites.AutomaticMessageAct"/>
        <activity android:name=".activites.ConversionAnalysisAct"/>
        <activity android:name=".activites.StartQuizAct"/>
        <activity android:name=".activites.CourseGoalAct"/>


        <service android:name=".services.Downloader"/>
        <service
                android:name=".notification.FirebaseMessageService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".notification.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <provider
            android:name=".services.LegacyCompatFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>


        <meta-data
            android:name="JW_LICENSE_KEY"
            android:value="IP+Q8MABjl3bBSbHqrY2HZ2KOebjXt8Bru8a7Q==" />
    </application>

</manifest>